.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 27px 97px 23px;
	background-color: var(--greyLight);
	font-size: 16px;
	line-height: 2.5;
}

.logo {
	flex-shrink: 2;
}

.nav {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	max-width: 610px;
	margin-right: auto;
	margin-left: 58px;
}

.link {
	color: var(--black);
}

.link:hover, .link:focus {
	color: var(--blue);
}

.login {
	display: flex;
	align-items: center;
}

.loginIcon {
	position: relative;
	top: -2px;
}

.loginText {
	margin-left: 10px;
	cursor: pointer;
}

.loginText:hover, .loginText:focus {
	color: var(--blue);
}
