:root {
	--black: #1f1e25;
	--blue: #2c36f2;
	--blueDark: #2027b4;
	--blueLight: #3841ff;
	--grey: #707c87;
	--greyLight: #f6f7ff;
	--white: #fff;
}

@import "./assets/styles/_normalize.scss";
@import "./assets/styles/_fonts.scss";

html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:visited {
	text-decoration: none;
	color: var(--black);
}

.container {
	width: 1366px;
	margin: 0 auto;
}
