:root {
	--black: #1f1e25;
	--blue: #2c36f2;
	--blueDark: #2027b4;
	--blueLight: #3841ff;
	--grey: #f6f7ff;
}

@import "./assets/styles/_fonts.scss";

* {
	box-sizing: border-box;
	border: 0 solid black;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
}

a, a:visited {
	text-decoration: none;
	color: var(--black);
}

.container {
	min-width: 1366px;
	max-width: 1366px;
	margin: 0 auto;
	padding: 0 20px;
}
