.container {
	display: flex;
	margin-bottom: 50px;
	padding: 77px 0;
	background: url("../../assets/img/bg@1x.webp");
	background-color: var(--blueLight);
	background-repeat: no-repeat;

	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
		background: url("../../assets/img/bg@2x.webp");
		background-size: contain;
	}
}

.inner {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	padding-left: 15px;
}

.title {
	margin-top: 26px;
	margin-bottom: 14px;
	color: var(--white);
	font-size: 54px;
	font-weight: 700;
	line-height: 1;
}

.subTitle {
	margin-top: 0;
	margin-bottom: 36px;
	color: var(--greyLight);
	font-size: 22px;
	line-height: 1;
}

.button {
	width: 234px;
	padding: 18px 0;
	border: none;
	border-radius: 4px;
	background: var(--greyLight);
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
}
